.st51_1 {
	color: rgba(156,8,11,1.00) ;
	font-family:Dancing Script;
	font-size:46px;
}

.st51_2 {
	color: rgba(181,4,192,1.00);
	font-family:Cookie;
	font-size:46px;
}

.st51_3 {
	font-size:30px;
}

.st52_1 {
	color: rgba(110,175,0,1.00) ;
	font-family:Helvetica;
	font-size:46px;
}

.st52_2 {
	color: rgba(5,181,168,1.00);
	font-family:Lobster ;
	font-size:46px;
}

.st52_3 {
	font-size:30px;
}

.st53_1 {
	font-size:46px;
	color: rgba(157,228,18,1.00); 
	font-family:Dancing Script; 
}

.st53_2 {
	font-size:46px;
	color: rgba(255,75,147,1.00); 
	font-family:Poiret One; 
}

.st53_3 {
	font-size:46px;
	color: rgba(8,181,209,1.00); 
	font-family:Black Ops One ; 
}

.st53_4 {
	font-size:30px;
}

