.st55_1 {
	color:rgba(255,52,247,1.00);
	font-family:Dancing Script;
	font-size:46;
}

.st55_2 {
	color:rgba(0,195,227,1.00);
	font-family:Poiret One;
	font-size:46px;
}

.st55_3 {
	font-size:30px;
}

.st56_1 {
	color: rgba(255,0,166,1.00);
	font-family:Shadows Into Light ; 
	font-size:46px;
}

.st56_2 {
	color: rgba(255,134,0,1.00);
	font-family:Lobster ; 
	font-size:46px;
}

.st56_3 {
	color: rgba(0,235,202,1.00) ;
	font-size:46px;
}

.st56_4 {
	color: rgba(197,0,153,1.00) ;
	font-family:Poiret One ; 
	font-size:46px;
}

.st56_5 {
	color: rgba(200,255,0,1.00);
	font-family:Dancing Script ; 
	font-size:46px;
}

.st56_6 {
	font-size:30px;
}	
	