.st35_1 {
	color: rgba(0,0,0,1.00);
	font-family:Righteous;
	font-size:46px;
}

.st35_2 {
	color:rgba(216,0,255,1.00) ;
	font-family:Lobster;
	font-size:46px;
}

.st35_3 {
	font-size:30px;
}

.st36_1 {
	color: rgba(0,92,255,1.00);
	font-family:gotham;
	font-size:46px;
}

.st36_2 {
	color: rgba(181,0,3,1.00) ;
	font-family:Righteous;
	font-size:46px;
}

.st36_3 {
	font-size:30px;
}

.st37_1 {
	color: rgba(253,0,173,1.00);
	font-family:Shadows Into Light;
	font-size:46px;
}

.st37_2 {
	color: rgba(8,0,211,1.00) ;
	font-family:gotham;
	font-size:46px;
}

.st37_3 {
	font-size:30px;
}

.st38_1 {
	color: rgba(216,0,255,1.00);
	font-family:Cookie ;
	font-size:65px;
}

.st38_2 {
	color: rgba(0,0,0,1.00);
	font-family:gotham;
	font-size:46px;
}

.st38_3 {
	font-size:30px;
}

.st40_1 {
	color: rgba(0,92,255,1.00);
	font-family:gotham;
	font-size:46px;
}

.st40_2 {
	color: rgba(181,0,3,1.00) ;
	font-family:Righteous;
	font-size:46px;
}

.st40_3 {
	font-size:30px;
}

.st41_1 {
	color: rgba(253,0,173,1.00);
	font-family:Shadows Into Light;
	font-size:65px;
}

.st41_2 {
	color: rgba(8,0,211,1.00) ;
	font-family:gotham;
	font-size:46px;
}

.st41_3 {
	font-size:30px;
}

.st42_1 {
	color: rgba(216,0,255,1.00);
	font-family:Cookie ;
	font-size:65px;
}

.st42_2 {
	color: rgba(0,0,0,1.00);
	font-family:gotham;
	font-size:46px;
}

.st42_3 {
	font-size:30px;
}
