.st45_1 {
	color: rgba(255,134,0,1.00);
	font-family:gotham;
	font-size:46px;
}

.st45_2 {
	color: rgba(208,0,255,1.00) ;
	font-family:Poiret One;
	font-size:46px;
}

.st45_3 {
	font-size:30px;
}

.st43_1 {
	color: rgba(50,0,195,1.00) ;
	font-family:gotham;
	font-size:46px;
}

.st43_2 {
	color: rgba(31,192,0,1.00) ;
	font-family:Lobster;
	font-size:46px;
}

.st43_3 {
	font-size:30px;
}

.st46_1 {
	color: rgba(156,8,11,1.00) ;
	font-family:Dancing Script;
	font-size:46px;
}

.st46_2 {
	color: rgba(181,4,192,1.00);
	font-family:Cookie;
	font-size:46px;
}

.st46_3 {
	font-size:30px;
}

.st47_1 {
	color: rgba(156,8,11,1.00) ;
	font-family:Dancing Script;
	font-size:46px;
}

.st47_2 {
	color: rgba(181,4,192,1.00);
	font-family:Cookie;
	font-size:46px;
}

.st47_3 {
	font-size:30px;
}

.st48_1 {
	color: rgba(255,134,0,1.00);
	font-family:gotham;
	font-size:46px;
}

.st48_2 {
	color: rgba(208,0,255,1.00) ;
	font-family:Poiret One;
	font-size:46px;
}

.st48_3 {
	font-size:30px;
}