.st44_1 {
	color: rgba(156,8,11,1.00) ;
	font-family:Cookie;
	font-size:46px;
}

.st44_2 {
	color: rgba(181,4,192,1.00);
	font-family:Shadows Into Light;
	font-size:46px;
}

.st44_3 {
	font-size:30px;
}

.st49_1 {
	color: rgba(44,63,215,1.00) ;
	font-family:Consolas;
	font-size:46px;
}

.st49_2 {
	color:rgba(44,150,215,1.00) ;
	font-family:Consolas;
	font-size:46px;
}

.st49_3 {
	font-size:30px;
}

.st50_1 {
	color: rgba(255,0,229,1.00);
	font-family:Shadows Into Light;
	font-size:46px;
}

.st50_3 {
	font-size:30px;
}

.st58_1{
	color: rgba(255,0,229,1.00);
	font-family:Shadows Into Light;
	font-size:46px;
}