.st57_1 {
	color:rgba(0,195,227,1.00);
	font-family:Shadows Into Light;
	font-size:46;
}

.st57_2 {
	color:rgba(255,52,247,1.00);
	font-family:gotham;
	font-size:46px;
}

.st57_3 {
	color: rgba(150,0,216,1.00);
	font-family:Cookie;
	font-size:46px;
}

.st57_4 {
	font-size:30px;
}